/* Removes underline from stubborn collapsible headers */
a, a:hover, a:active {
    text-decoration: none !important;
} 

.badge-pill {
    transform: scale(0.7);
}

#cpt_code_ranges {
    color: #038fd2;
}

.button_topics {
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-block ol, .card-block ul {
    margin-left: -1em;
}

.link_names {
    margin-right: 5px;
}

.jumbotron {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.my_footer small {
    color: lightgray;
}

/* .my_footer {
    padding: 0px !important;
    margin: 0px !important;
} */

hr {
    margin-top: 25px;
    margin-bottom: 0px;
    border-top-style: dotted;
}

.link_names {
    font-weight: 300 !important;
}