/* Removes bullets in ie, still needs more work */
li {
    list-style: none;
}

.jumbotron {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Spaces out the content from the sides of the window */
#checks, #optional {
    margin-left: 15px;
    margin-right: 15px;
}

.clear {
    margin-left: 10px;
    margin-top: 15px;
}

.instructions {
    font-style: italic;
    margin: 10px;
}

/* Increases the size of the HTML check boxes */
input[type=checkbox] {
    transform: scale(1.3);
}

.progress-bar {
    height: 20px;
}

.form-check small, li small {
    color: lightgray;
}

hr {
    margin-top: 25px;
    margin-bottom: 0px;
    border-top-style: dotted;
}

.about_instructions p {
    margin-left: 10px;
    margin-right: 10px;
}