/* ----- Header styles ----- */
.top_nav {
    padding-top: 4px;
}

.my_title {
    margin-right: 15px;
}

	/* This overrides bootstrap's style for the text input
	 box so that it will display the 'x' in chrome */
	input[type=search]::-webkit-search-cancel-button {
		-webkit-appearance: searchfield-cancel-button;
	}

/* ----- All button styles ----- */
button {
    margin: 5px 3px 5px 3px;
    display: block;
}

/* ----- Footer styles ----- */
hr {
    margin-top: 25px;
    margin-bottom: 0px;
    border-top-style: dotted;
}

li small {
    color: lightgray;
}
